[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	wdiff = diff --color-words
[user]
	name = Julius B.
	email = julius.bullinger+github@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
	excludesfile = /home/sqrt/.gitignore
[diff]
	wordRegex = [A-z0-9_]+|[^[:space:]]
[push]
	default = upstream
